@import "style/colors";

.search-results {
  position: absolute;
  top: 100%;
  max-height: 300px;
  width: 350px;
  margin-top: 5px;
  overflow-y: auto;
  box-sizing: border-box;

  background: #fff;
  border: 1px solid $lightGrey;
  color: $darkGrey;

  .no-results {
    padding: 8px 32px;

    font-style: italic;
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .link {
    display: block;
    padding: 8px 32px;

    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: $darkGrey;

    &:hover {
      background: #f4f4f4;
    }
  }
}
