@import "style/colors";

.search {
  position: relative;
}

.search-input {
  width: 350px;
  padding: 16px 48px 16px 32px;
  box-sizing: border-box;

  border: 1px solid $lightGrey;
  color: $darkGrey;
  font-size: 16px;
  transition: border .2s;

  &:focus {
    outline: none;
    border-color: $darkGrey;
  }
}

.clear-button {
  position: absolute;
  top: 16px;
  right: 18px;

  font-size: 18px;
  line-height: 18px;
  color: $darkGrey;
  cursor: pointer;
}
