@import "style/colors";

.link {
  display: flex;
  align-items: baseline;
  padding: 8px 32px;

  word-break: break-word;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: $darkGrey;
  cursor: pointer;
  transition: font-weight .2s, background-color .2s;

  &:hover {
    background: #f4f4f4;
  }

  &.link--selected {
    font-weight: bold;
  }

  &.link--anchor {
    background: #f4f4f4;

    &:hover {
      background: #eaeaea;
    }
  }
}
